@font-face {
    font-family: 'Roboto Slab', serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

$myblack: #0e0e0e;


body{
    color: white; 
    background: rgb(0,0,0);
    background: linear-gradient(124deg, rgba(0,0,0,1) 0%, rgba(76,82,79,1) 33%, rgba(0,0,0,1) 50%, rgba(76,82,79,1) 66%, rgba(0,0,0,1) 100%);

    a, p{
        font-family: 'Roboto Slab', serif;
        font-weight: 200;
        font-size: 17px;
    }

    h1, h2, h3, h4 {
        font-family: 'Cinzel', serif;
        font-weight: 500;
    }

    h5, h6{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
}

/* NAVBAR */
.navbar-top{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1000;
    

    nav{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.4542191876750701) 0%, rgba(0,0,0,0.30575980392156865) 74%, rgba(175,175,175,0.025647759103641476) 100%);
        transition: top 0.5s; /* Transition effect when sliding down (and up) */
        transition:  background-color, 0.5s;
        .container{

            button{
                float: right;
                border-radius: 0px;

                &:focus{
                    box-shadow: none; 
                }
            }
            .navbar-collapse ul{
                position: relative;
                width: 100%;
                justify-content: center;
            
                li{
                    width: 33%;
                    text-align: center;
                    
                    a{
                        font-family: 'Cinzel', serif;
                        color: #d4d4d4;
                        text-shadow: rgb(0 0 0) 1px 1px 1px;
                        transition: color .3s;
                        transition-timing-function: ease-in-out;
                        font-weight: 400;
                        font-size: 18px;  
    
                        &:hover{
                            color: rgba(255,255,255,1) !important;
                        }
                    }
    
                    @media (max-width: 991px){
                        width: 100%;
    
                    }
                }
            }
        }

    }
}

.main-content{
    background: rgb(0,0,0);
    background: linear-gradient(124deg, rgba(0,0,0,1) 0%, rgba(76,82,79,1) 33%, rgba(0,0,0,1) 50%, rgba(76,82,79,1) 66%, rgba(0,0,0,1) 100%) no-repeat center center fixed;
}

/* FOOTER */
.footer {
    position: relative;
    height: 250px;
    margin-top: 8rem !important; 
  
    .footer-inner{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-content{
            p{
                font-family: 'Cinzel', serif;
            }

            i{
                font-size: 1.6em;
            }

            a{
                color: white;
                transition: color .3s ease-in-out;

                &:hover{
                    cursor: pointer;
                    color: grey;
                }
            }
        }
    }

    .signature{
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;

        p{
            font-family: 'Cinzel', serif;
            font-size: 12px;
            margin-bottom: .25rem;
            a{
                font-size: 12px;
                margin-bottom: .25rem;
                font-family: 'Cinzel', serif;
                text-decoration: none;
                cursor: pointer;
                color: white;
                transition: color .3s ease-in-out;

                &:hover{
                    color: grey;
                }
            }
        }
    }
  
  }

/* ELEMENTS */
.banner {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;

    overflow: hidden;
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when
    the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its     container's size */
    background-size: cover;

    h1{
        position: absolute;
        margin: auto;
        width:100%;
        font-size: 25px; 
        text-shadow: 2px 1px 4px black;
        transition: font-size .4s ease-in-out;

        @media(min-width: 576px){
            font-size: 33px;
        }

        @media(min-width: 768px){
            font-size: 50px;
        }

        @media(min-width: 992px){
            font-size: 65px;
        }
        @media(min-width: 1200px){
            font-size: 75px;
        }
        @media(min-width: 1400px){
            font-size: 85px;
        }

    }
}

.about-banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;

    @media (min-width: 768px){
        height: 450px;
    }

    
    @media (min-width: 768px){
        height: 550px;
    }
    
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when
    the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its     container's size */
    background-size: cover;

    .banner-text{
        margin-left: auto;
        margin-right:  auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;     
            
        .faded-hr-container{
            .faded-hr{
                margin: .35rem auto;
                width: 65%;
            }
        }

        h1{
            display: inline-block;
            padding: 0 .5rem; 
            margin: auto;
            font-size: 38px;
            line-height: 35px;
            transition: font-size .4s ease-in-out;

            @media(min-width: 576px){
                font-size: 45px;
                line-height: 38px;
            }

            @media(min-width: 768px){
                font-size: 53px;
                line-height: 55px;
            }

            @media(min-width: 992px){
                font-size: 68px;
                line-height: 70px;
            }
            @media(min-width: 1200px){
                font-size: 78px;
                line-height: 70px;
            }
            @media(min-width: 1400px){
                font-size: 88px;
                line-height: 90px;
            }

        }
        h2{
            margin: auto;
            width:100%;
            font-size: 25px;         
            transition: font-size .4s ease-in-out;

            @media(min-width: 576px){
                font-size: 28px;
            }

            @media(min-width: 768px){
                font-size: 32px;
            }

            @media(min-width: 992px){
                font-size: 35px;
            }
            @media(min-width: 1200px){
                font-size: 38px;
            }
            @media(min-width: 1400px){
                font-size: 47px;
            }

        }
}
}

//Testimonial block
.testimonial{
    color: white;

    img{
        width: 100%;
        height: auto;
    }

    .about-me-outer{
        width: 100%;
        height: 100%;
        position: relative;

        .read-more{
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

    }
}


//Services slider
.services-slider{
    .item{
        position: relative;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;;

        .carousel-inner{
            min-width: 100%;
            height: 300px;

            @media(min-width: 768px){
                height: 450px;
            }

            .slider-column{
                position: relative;
                background: rgba(97, 92, 92,  0.5);
                background: linear-gradient(80deg, rgba(20, 20, 20, 0.5) 0%, rgba(15, 15, 15, 0.25) 100%);

                .slider-textbox{
                    margin-bottom: 3rem !important;
                }
                
                .read-more{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
    
                    a{
                        text-decoration: none;
                        border: 1px solid grey;
                        color: white;                    
                        padding: .25rem .3rem;
    
                        transition: border-color .2s;
                        transition-timing-function: ease-in-out;
    
                        &:hover{
                            border-color: white;
                        }
                    }
                }
            }
        }

    }
}

//Services left right
.services-left-right{
    .arrow{
        width: 100%;
        height: 100%;
        display: flex;

        .ar-right{
            height: 70%;
            width: 70%;
            margin: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .ar-left{
            height: 70%;
            width: 70%;
            margin: auto;

            img{
                transform: rotate(180deg);
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }


    .column-text{
        display: flex;
        width: 100%;
        height: 100%;

        .column-text-inner{
            margin: auto;
        }
        
    }
}

/* About page*/
.about-me-inner{

    p{
        text-align: justify;
    }

    img{
        margin-top: .25rem!important;
        margin-bottom: .25rem!important;
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
}

//Music page
.music .accordion-item{
    background-color: transparent !important;
    border: none;

    .accordion-header{
        button{
            color: white; 
            background-color: rgba(0,0,0,0.3) !important;
            box-shadow: rgb(138 135 135 / 45%) 0px 0px 15px;

            &::after{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }

            &:focus{
                border: none;
                box-shadow: none;
            }
        }
    }

    .accordion-body div{
        display: none; 
    }
}

//Reference
.references{
    .card-slide-in{
        width: 100%;
        height: 100%;
       

        .card{
            position: relative;
            background-color: transparent;
            width: 100%;
            height: auto;
            object-fit: cover;
            justify-content: center;
            text-align: center;
            transition: transform ease-in-out .4s;

            img{
                object-fit: cover;

                @media(max-width: 767px){
                    max-height: calc(100vw -var(--bs-gutter-x))
                }

            }

            @media (min-width: 768px){
                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
    
            .band-name{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                h4{
                    font-size: 30px;
                    text-shadow: 0px 0px 5px black;

                    @media(min-width: 576px){
                        font-size: 35px;
                    }

                    @media(min-width: 768px){
                        font-size: 35px;
                    }
            
                    @media(min-width: 992px){
                        font-size: 23px;
                    }
                    @media(min-width: 1200px){
                        font-size: 29px;
                    }
                    @media(min-width: 1400px){
                        font-size: 35px;
                    }
                }
            }
    
        }
    }
    
}

// Contact form
.contact-form{
    .contact-form-box{
        width: 100%;
        margin: auto; 

        @media (min-width: 768px){
            width: 60%;
        }
        input, textarea{
            color: white;
            border: 1px solid white;
            box-shadow: rgb(138 135 135 / 45%) 0px 0px 5px; 
            background-color: rgba(0,0,0,0.5) !important;
            padding: .5rem 1rem;
            width: 100%;
            
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            background-color: rgba(0,0,0,0.5) !important;
        }

        .text-input{
            width: 100%;
            
            input{
                width: 100%;;
            }
        }
    
        .textarea{
            width: 100%;
            height: 250px;
            textarea{
                width: 100%;
                height: 100%;
            }
        }
        
        .submit-btn-container{
            text-decoration: none;
            border: 1px solid grey;
            color: white;           
            padding: .5rem .5rem;
    
            transition: border-color .2s;
            transition-timing-function: ease-in-out;
            width: 100%;
            &:hover{
                border-color: white;
            }
            button{
                font-family: 'Cinzel', serif;
                background-color: transparent;
                font-size: 20px;
                color: white;
                border: none;
    
                @media (max-width: 767px){
                    width: 100%;
                }
            }
        }
    }
}

.form-submitted-container{
    visibility: hidden;
    display: flex;
    opacity:0;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(5px);
    transition: visibility .3s, opacity 0.5s ease-in;

    .form-submitted-inner{
        width: auto;
        height: auto;
        border: 1px solid white;
        margin: auto;
    }
}

.form-submitted-container.active{
    visibility: visible;
    opacity: 1;
}

//Other custom stuff

.my-btn{
    a{
        text-decoration: none;
        border: 1px solid grey;
        color: white;           
        padding: .25rem .5rem;

        transition: border-color .2s;
        transition-timing-function: ease-in-out;

        &:hover{
            border-color: white;
        }
    }

}
.box-shadow-light{
    box-shadow: rgb(138 135 135 / 45%) 0px 0px 15px;
}

.my-bg-black{
    background-color: rgba(0,0,0,0.3) !important;
    transition: background-color 0.5s ease;
}
.my-bg-black-nav{
    background-color: rgba(0,0,0,0.5) !important;
    transition: background-color 0.5s ease;
}

.my-bg-transparent{
    background-color: transparent !important;
    transition: background-color 0.5s ease;
}

.text-shadow-dark{
    text-shadow: 2px 1px 4px black;
}

.text-shadow-light{
    text-shadow: 2px 1px 4px white;
}

.my-6{
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

.mb-6{
    margin-bottom: 6rem !important;
}
.pt-6{
    padding-top: 6rem !important;
}



//Text decorated with lines on each sisde
.text-with-lines{
    &:before{
        content:"";
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 10%;
        right: .5em;
    }

    &:after{
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 10%;
        left: .5em;
    }

}

/* OWL CAROUSEL  */
.banner-slider{
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .owl-carousel-banner{
        .item{
            height: 450px;
            background-size:cover;  
        }
        @media(max-width: 767px){
            display: none !important;
        }
    }
}


.no-mobile{
    @media(max-width: 767px){
        display: none;
    }
}

//Fade in classes

.fade-in{
    opacity: 0;
    transition: opacity .8s;
    transition-timing-function: ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.slide-in{
    transform: translateY(35%);
    transition: transform .6s ease-in;
}

.slide-first{
    transition-delay: 0s;
}
.slide-seccond{
    transition-delay: 0s;
    @media(min-width: 768px){
        transition-delay: .1s;
    }
}

.slide-third{
    transition-delay: 0s;
    @media(min-width: 992px){
        transition-delay: .2s;
    }
}

.slide-fourth{
    transition-delay: 0s;
    @media(min-width: 768px){
        transition-delay: .2s;
    }
    @media(min-width: 992px){
        transition-delay: .3s;
    }
}

.slide-in.appear{
    transform: translateY(0);
}